{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
 

<div class="page-heading about-heading header-text" style="background-image: url(https://images.unsplash.com/photo-1553013746-fd5454da7078?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Get to know us a bit more</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>What do we do?</h4>
            <p>Welcome to HelpKazi, a web application dedicated to connecting talented candidates with potential employers. Our platform is designed to make job searching and hiring a hassle-free experience.
              We understand that finding the right job or employee can be a daunting task, which is why we provide a user-friendly interface for both job seekers and employers. Our comprehensive database features a wide range of job vacancies from top companies across various industries, ensuring that job seekers have access to a diverse range of opportunities.              
              At HelpKazi, we believe that the key to a successful job search is to provide candidates with the right resources and tools to help them stand out from the crowd. Employers can also benefit from our platform by posting job vacancies on our website and finding the perfect candidates for their open positions. We offer a simple and straightforward process for employers to post their job openings and review applications, making the hiring process much more efficient.              
              <br><br>Our team is dedicated to providing a seamless and efficient job search and hiring experience for both job seekers and employers. Thank you for choosing HelpKazi as your go-to platform for all your job search and hiring needs.</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">

          <h5>What we believe in</h5>
          <p>As a leader in digital transformation, we are also a responsible company working to ensure that technology and innovation drive sustainable and social development. We have strengthened this commitment to our employees, clients, partners, communities & planet by leveraging three fundamental pillars: Diversity and Inclusion, Digital Inclusion, and Environmental Sustainability.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}