{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
 

<div class="page-heading about-heading header-text" style="background-image: url(https://images.unsplash.com/photo-1553013746-fd5454da7078?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Get to know us a bit more</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>What do we do?</h4>
            <p>At Help-Kazi, we are committed to helping Maseno University students connect with job opportunities that align with their skills and interests. We understand that job searching can be a challenging process, and our goal is to simplify it for students. Our platform offers a minimalist and user-friendly interface that allows students to find relevant job listings quickly. With our powerful search functionality and minimalistic filters, students can narrow down their search and apply for jobs with ease. Our user-friendly profile creation process allows students to showcase their unique qualities, skills, and experience to potential employers, increasing their chances of securing a job.
              <br><br>We are dedicated to providing a seamless user experience and being a trusted partner to Maseno University students in their job search journey. Our platform is optimized for mobile access, allowing students to stay connected to their job search on the go. We believe that every student deserves equal access to job opportunities, and we are committed to promoting diversity and inclusion in the job market. Our mission is to help students unlock their full potential and achieve their career goals. Join us today and let us help you take the first step towards a successful career.</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">

          <h5>What we believe in</h5>
          <p>As a leader in digital transformation, we are also a responsible company working to ensure that technology and innovation drive sustainable and social development. We have strengthened this commitment to our employees, clients, partners, communities & planet by leveraging three fundamental pillars: Diversity and Inclusion, Digital Inclusion, and Environmental Sustainability.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}